.footer html, .footer body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer footer {
  text-align: center;
  padding: 20px;
  color: black;
  width: 100%;
}
.footer a {
  text-decoration: none;
}

.footer a:hover,
.footer a:focus {
  color: #007bff;
  cursor: pointer;
}
