.preview {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputForm {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container {
    display: flex;
}

.files {
    list-style-type: none;
}

.note {
    color: red;
}